
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>




 <div id="login" class="container">
  <h4>Registration form</h4>
    <form class="form" (submit)="register($event)">
      <input type="text" placeholder="Enter Email" />
      <br>
      <input type="text" placeholder="Role" />
      <br>
      <input type="password" placeholder="Password" />
      <br>
      <input type="password" placeholder="Confirm Password" />
      <br>
      <input class="btn btn-success" type="submit" value="Create Account" /> or <a class="btn" href="/">Login</a>
    </form>
   
    &nbsp;
    
</div>


<h3>{{msg}}</h3>
  <!-- <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script> --> 

 
<!-- <h3>{{model.message}}</h3> -->

<!-- <div>
    <form class="modal-content" (submit)="register($event)">
      <div class="container">
        <h1>Sign Up</h1>
        <hr>
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
  
        <label for="email"><b>Role</b></label>
        <input type="text" placeholder="Enter Role" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
  
        <label for="psw-repeat"><b>Confirm Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
        
        <!-- <label>
          <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
        </label> -->
<!-- 
        <div class="clearfix">
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">Sign Up</button>
          </div>
      </div>
    </form>
  </div>  --> 